<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>

	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Default.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
	<connectionStrings>
		<add name="connStr"
			 connectionString="Data Source=.;Initial Catalog=KhmerFestivalsDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

